/* This is style.css */

body
{
    background-color: #FFFFFF;
    padding : 0;
    margin: 0;
    text-align: center;
}

.container
{
    flex : display;
    flex-direction: column;
}

div
{
    color : white;
    font-family : 'Roboto', Arial, Helvetica, sans-serif;
    font-size : 18px;
}


/* navigation bar part */


.navbar
{
    display : flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.links
{
    display : flex;
    margin-left: auto;
    padding: 20px 100px 0px 0px;
    font : 18px;
    gap : 30px;
}

.logo
{
    font : 18px bold;
    margin-right: auto;
    color : #f9faf8;
}

.links.a, .sec_text, .subtext
{
    color : #e5e7eb;
    font : 18px;
}


/* Textbox part */

.textbox
{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
    flex-wrap: wrap;
}

.text
{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
    gap : 15px;
}

#main_text
{
    color : #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin : 0;
    padding: 15px 0px 15px 0px;
}

#sec-text
{
    padding : 0px 30px 20px 30px;
    padding-bottom: 20px;
}

#image
{
    display: flex;
    justify-content: center;
    align-items: center;
    height : 300px;
    width : 400px;
    background-color: #e5e7eb;
}

#butt
{
    padding-top: 10px;
    padding-left : 70px;
}

.button
{
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.button:active 
{
    background-color: #3881f6bd;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color : inherit;
}


/* Info part */

.content
{
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    gap : 40px;
}

.title
{
    padding : 20px;
    font-weight: 900;
    font-size: 36px;
    color : #1f2937;
}

.box
{
    font-size: 10px;
    color : #1F2937;
    padding-bottom: 40px;
}

.imagebox
{
    padding : 15px;
    background-color: #1F2937;
    height : 200px;
    width : 200px;
    border : 20px;
    border-radius: 15px;
    border-color: #3882f6;
    object-fit: cover;
}

/* Quote part */

.quote
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right : 100px;
    padding-left: 100px;
    height : 200px;
    background-color: #e5e7eb;
}

.qtext
{
    display : flex;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color : #1f2937;
}

.author
{
    padding-right: 60px;
    margin-left: auto;
    font-size: 18px;
    font-weight: bold;
    color : #1f2937;
}


/* Signup button */

.Signup
{
    display: flex;
    align-items: center;
    background-color: #3882f6;
    border-radius: 5px;
    gap : 20px;
    flex-wrap: wrap;
    margin : 80px 200px 80px 200px;
}

#action
{
    padding : 15px;
    color :#F9FAF8;
    font-weight : bold;
    font-size: 26px;
}

.Signup .txt
{
    flex-direction: column;
    align-items: center;
    justify-content:left;
    padding : 15px;
    margin-left: 80px;
    padding-right: 30px;
}

.Signup .button
{
    margin-left: 450px;
    border : 2px;
    border-style :solid;
    border-color: #e5e7eb;
    background-color: #3882f6;
    cursor: pointer;
}

#stext{
    margin-bottom: 10px;
}


/* Footer */

.footer
{
    flex : display;
    padding : 20px;
    color : #F9FAF8;
    background-color: #1F2937;
    height : 20px;
    text-align: center;
}
